:root {
  --highlight-color: #74ca7f;
  --dark-highlight-color: #5ea567;
  --background-color: #08130f;
  --card-color: #22332eea;
  --text-color: white;
}
html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow-x: hidden;
}
.color-white {
  color: var(--text-color) !important;
}
.landingSection a {
  color: var(--highlight-color) !important;
}
#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.nav-link {
  font-size: 2.5vh;
}

.Infobox {
  background-color: var(--card-color);
  opacity: 0.9;
  overflow-y: auto;
  overflow-x: hidden;
}

.leftbar {
  overflow-y: auto;
  overflow-x: hidden;
  height: 86vh;
}

.dashboard-container,
.leaflet-container,
.h-80 {
  height: 88vh;
}

.h-10 {
  height: 9vh;
}
.leaflet-container {
  width: 100%;
}
.dataSection {
  background-color: var(--card-color);
}
.dataset {
  padding: 0 0.5rem 0 1rem;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #555555 !important;
  background-color: var(--highlight-color) !important;
}

.custom-switch .custom-control-label::before {
  background-color: var(--background-color) !important;
  border-color: #555555 !important;
}

.cursor-pointer {
  cursor: pointer;
}
.legend {
  background-color: white;
  padding: 0.25rem 0.5rem;
}

/* Scrolbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: rgb(167, 167, 167);
}
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.hr-about {
  width: 25rem;
  margin: 0.25rem auto;
  border-top: 5px solid var(--highlight-color);
}
.landingContainer {
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.486) !important;
  z-index: 6000 !important;
}
.landingSquare {
  background-color: var(--background-color);
  opacity: 1;
  height: 69vh;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  color: var(--text-color) !important;
}
.landingSection {
  padding: 0.25rem 4rem;
}
.bg-black {
  background-color: var(--background-color);
}

path.domain {
  fill: var(--text-color) ite;
  stroke: var(--text-color) !important;
}

.tick,
.c3-legend-item text,
text.c3-axis-y-label {
  fill: var(--text-color) !important;
}
.tick path,
.tick line {
  fill: none;
  stroke: var(--text-color) !important;
}
.bg-nav {
  background-color: #2b332c !important;
}

.hover-highlight:hover {
  color: var(--highlight-color);
}
.hover-opacity {
  background-color: var(--highlight-color);
}
.hover-opacity:hover {
  background-color: var(--dark-highlight-color);
}
.fixing {
  position: fixed !important;
  right: 0;
}
